

.morning,.evening,.desert {
    background-color: cadetblue;
    border: 1px solid rgb(91, 55, 0);
    padding: 5px;
    margin: 5px;
    text-align: center;
}

h2 {
    text-align: left;
    color: antiquewhite;}

.recipe_box a {
    padding: 5px;
    display: inline-block;
    width: 600px;
    background-color: rgb(80, 136, 137);
    color: antiquewhite;

}